<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>De</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(article.description, lenght:4) %></td>
      <td><%= link_to article.user.username, user_path(article.user)%></td>
      <td>
      <%= link_to "Ver Itinerario", article %>
      <% if logged_in && article.user == current_user %>
      <%= link_to "Editar", edit_article_path(article) %>
      <td><%= button_to "Eliminar", article, method: :delete, form: { data: { turbo_confirm:"¿Seguro quieres eliminar este Articulo?"}} %></td>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
