<p style="color: green"><%= notice %></p>
  
  <table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripción</th>
      <th colspan="4">Acciones</th>
    </tr>
  </thead>
  <tr>
  <td><%= @article.title %></td>
  <td><%= @article.description %></td>
  <td><%= link_to "Edit this article", edit_article_path(@article) %></td>
  <td><%= link_to "Back to articles", articles_path %></td>
  <td><%= button_to "Destroy this article", @article, method: :delete, form: { data: { turbo_confirm:"¿Seguro quieres eliminar este Articulo?"}} %></td>
 </tr>
  </table>
